  swiper-container {
      width:  100%;
      height: 40vh;
    }

    swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

.row_form{width: 80%;
max-width: 450px;}
.d-flex button {
    border-radius: 100%;
    border: 3px solid #0000004d;
    font-family: none;
    background: no-repeat;
    margin-right: 4px;
    transition: 0.2s ease-in-out;
    width: 33px;
    height: 33px;
}

.d-flex button:hover {
    transform: scale(1.3);
    transition: 0.2s ease-in-out;
    background: #6539bc;
    color: white ;
}
.d-flex {
    margin-top: 15px;
}
.logo_cont{background: #fbfbfb; height: 100vh; border-left: 1px solid #dddddd;}

img.form_logo{width: 70px;
    margin-bottom: 15px;}

a{text-decoration: none;}

.menu_item {
    background: transparent;
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    color: #666666;
    font-weight: bold;
    align-items: center;
    text-align: left !important;
    transition: 0.3s ease-in-out;
}

.menu_item:hover{
    background: #e8e2f4;
    width: 100%;
    padding: 10px;

    border-radius: 8px;

    color: #673ab7;
    font-weight: bold;
    align-items: center;
    transition: 0.5s ease-in-out;
}

.menu {
    display: flex;
    height: 90vh;
    flex-direction: column;
    justify-content: space-between;
}

.menu_item span {
    float: right;
}

.page_location {
    width: 80%;
        font-weight: bold;
}

.title_bar_icons i {
    background: #bfbfbf;
    padding: 6px;
    border-radius: 50px;
    color: white;
}

.title_conteiner {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}


.columna1 {
    width: 50%;
    float: left;
    text-align: left;
    color: black;
}

.columna1 p{

    color: #8b8b8b;
}

.slider_content {
    padding: 30px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.slider_content {
    padding: 30px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    border: solid 1px #bfbfbf;
    border-radius: 7px;
    justify-content: center;
    align-items: center;
}

.columna2 {
    width: 50%;
    float: right;
}

.product_item {
    width: 19%;
    background: white;

    border: solid 1px #bfbfbf;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 10px;
    position: relative;
}

.product_container {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.scrollable-container {
    max-height: 60%;
    height: 50vh;
    overflow-y: auto;
    padding-right: 10px;
}

.scrollable-container::-webkit-scrollbar {
  width: 8px;
  margin-left: 5px;
}

.scrollable-container::-webkit-scrollbar-track {
  background: #f0f0f0;
    margin-left: 5px;
}

.scrollable-container::-webkit-scrollbar-thumb {
  background: #673ab7;
  border-radius: 4px;
    margin-left: 5px;
}

.scrollable-container::-webkit-scrollbar-thumb {


  transform: translateX(6px) !important;
}



/*INICIO TARJETA DE PRODUCTOS*/
.top-card {
    display: flex;
    justify-content: space-between;
    padding: 3px 5px 0px 5px;
}

.top-card img {
    width: 25px;
    height: 25px;
    background: #dbdbdb;
    border-radius: 100%;
}

.middle-card img {
    width: 100%;
}

.product_color {

    margin-left: 5px;
}


.product_price {
    float: left;
    margin-left: 5px;
}

.add_to_cart_btn {
    float: right !important;
    margin-right: 5px;
    color: white !important;
    background: #00000091;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carro_vacio {
    color: #cbcbcb;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
        height: 90vh;
    align-content: stretch;
}

.carro_vacio img{
   animation: parpadeo 1s ease-in-out infinite alternate;
   width: 80%;
}

.bottom-card {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.product_name {
    font-size: 11px !important;
}


/*FIN TARJETA DE PRODUCTOS*/



/* INICIO POPUP */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  animation: popup 0.3s linear;
  z-index: 1;
}

.popup-content {
    width: 800px;
    position: absolute;
    top: 50%;
    display: flex;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}


button#addToCart {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
}

.popup_left img {

    width: 100%;
}

.popup_right {
    height: 425px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.popup_left{width: 49%; float: left;}
.popup_right {
    width: 49%;
    float: right;
    padding: 35px;
}

/* FIN POPUP */





@keyframes popup{

0%{opacity: 0;}

100%{opacity: 1;}

}

@keyframes parpadeo{

0%{opacity: 1;}

100%{opacity: 0}

}






@media only screen and (max-width: 600px) {

.popup_left{width: 100%; float: unset;}
.popup_right{width: 100%; float: unset;
    padding: unset;}

  img.form_logo{width: 190px}

  .row_custom{flex-direction: column-reverse;}

  .logo_cont{background: none; height: 300px; border: none;}


.product_item {
    width: 49%;


}



.menu {

    height: 260px;

}

.columna1 h1 {

    font-size: 18px;
}


.columna1 p {

    font-size: 13px;
}




}


@media only screen and (max-width: 830px) {

.popup-content {
    width: 100%;
    position: absolute;
    top: 50%;
    display: flex;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8) !important;
    background-color: white;
    padding: 20px;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.d-flex pagination button {
    border-radius: 100%;
    border: 3px solid #0000004d;
    font-family: none;
    background: no-repeat;
    margin-right: 4px;
    transition: 0.2s ease-in-out;
    width: 33px;
    height: 33px;
}

.d-flex pagination button:hover {
    transform: scale(1.3);
    transition: 0.2s ease-in-out;
    background: #6539bc;
    color: white !important;
}
