	<link rel="stylesheet" href="/static/bootstrap-5.2.3-dist/css/bootstrap.css" type="text/css">

<center>
	<div >
		<img src="/static/image/logo.jpg" width="350" height="250">
	<div class="input-group-prepend">
		<span>
			<h2>
			Get started
				</h2>
		</span>
		<span>
			<h4>Sigin session for continue...</h4>
		</span>
		<form action="/login" method="POST">
			<h1>Login</h1>
			<input type="text" class="input-group-text" value="" placeholder="username" name="username"><br>
			<label class="login-field-icon fui-user" for="login-name"></label>
			<input type="password" class="input-group-text" value="" placeholder="password" name="password"><br>
			<label class="login-field-icon fui-lock" for="login-pass"></label>
			<br>
			<input type="submit" value="Log in" class="btn btn-primary">
		</form></div>
	<span>You do not have an account? Register so you can access. It will only take a few minutes</span>
			<a href="newuser" class="navbar-brand text-info fw-semibold fs-6">Create user</a>
	</div>

</center>
