<div
  class="flex justify-start items-start relative overflow-hidden rounded-2xl bg-white"
  style="box-shadow: 0px 16px 24px 0 rgba(0,0,0,0.14), 0px 6px 30px 0 rgba(0,0,0,0.12), 0px 8px 10px 0 rgba(0,0,0,0.2);"
>
  <div
    class="flex-grow-0 flex-shrink-0 w-[752px] h-[480px] relative overflow-hidden rounded-[20px]"
  >
    <div class="w-[752px] h-12 absolute left-0 top-[432px] overflow-hidden rounded bg-white">
      <div
        class="flex justify-start items-start absolute left-[354px] top-5 overflow-hidden gap-2.5"
      >
        <svg
          width="8"
          height="8"
          viewBox="0 0 8 8"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="flex-grow-0 flex-shrink-0 w-2 h-2 relative"
          preserveAspectRatio="none"
        >
          <circle cx="4" cy="4" r="4" fill="black"></circle></svg
        ><svg
          width="8"
          height="8"
          viewBox="0 0 8 8"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="flex-grow-0 flex-shrink-0 w-2 h-2 relative"
          preserveAspectRatio="none"
        >
          <circle cx="4" cy="4" r="4" fill="black" fill-opacity="0.15"></circle></svg
        ><svg
          width="8"
          height="8"
          viewBox="0 0 8 8"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="flex-grow-0 flex-shrink-0 w-2 h-2 relative"
          preserveAspectRatio="none"
        >
          <circle cx="4" cy="4" r="4" fill="black" fill-opacity="0.15"></circle>
        </svg>
      </div>
      <p
        class="absolute left-5 top-4 opacity-[0.64] text-sm font-medium text-center uppercase text-black"
      >
        EXIT
      </p>
      <p
        class="absolute left-[697px] top-4 opacity-[0.64] text-sm font-medium text-center uppercase text-black"
      >
        next
      </p>
    </div>
    <div
      class="w-[480px] h-12 absolute left-[136px] top-[232px] overflow-hidden rounded border border-black/[0.15]"
    >
      <p class="w-[416px] h-3.5 absolute left-4 top-[17px] text-sm text-left text-black">Nombre</p>
    </div>
    <div
      class="w-[480px] h-12 absolute left-[136px] top-[164px] overflow-hidden rounded border border-black/[0.15]"
    >
      <p class="w-[416px] h-3.5 absolute left-4 top-[17px] text-sm text-left text-black">
        Tipo de cuenta
      </p>
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="w-6 h-6 absolute left-[440px] top-3"
        preserveAspectRatio="none"
      >
        <g opacity="0.64" clip-path="url(#clip0_25_1010)">
          <g clip-path="url(#clip1_25_1010)">
            <path
              d="M7.41 8.58997L12 13.17L16.59 8.58997L18 9.99997L12 16L6 9.99997L7.41 8.58997Z"
              fill="black"
            ></path>
          </g>
        </g>
        <defs>
          <clipPath id="clip0_25_1010"><rect width="24" height="24" fill="white"></rect></clipPath>
          <clipPath id="clip1_25_1010"><rect width="24" height="24" fill="white"></rect></clipPath>
        </defs>
      </svg>
    </div>
    <div
      class="w-[480px] h-12 absolute left-[136px] top-[300px] overflow-hidden rounded border border-black/[0.15]"
    >
      <p class="w-[416px] h-3.5 absolute left-4 top-[17px] text-sm text-left text-black">Email</p>
    </div>
    <p class="absolute left-[331px] top-[87px] opacity-[0.64] text-2xl text-center text-black">
      Register
    </p>
    <p class="absolute left-[263px] top-[115px] opacity-[0.64] text-base text-center text-black">
      Ingrese sus datos de sesion...
    </p>
  </div>
  <div
    class="flex-grow-0 flex-shrink-0 w-[328px] h-[480px] relative overflow-hidden bg-neutral-50 border border-black/[0.08]"
  >
    <img
      src="itvelle-1-5.png"
      class="w-[250px] h-[278.66px] absolute left-[38px] top-[100px] object-cover"
    />
  </div>
</div>
<p class="text-xs text-left text-black">asdas</p>